<ul style="list-style: none;">
  {{ if .Get "a" }}<li>A.&nbsp;&nbsp;&nbsp;&nbsp;{{ .Get "a" }}</li> {{ end }}
  {{ if .Get "b" }}<li>B.&nbsp;&nbsp;&nbsp;&nbsp;{{ .Get "b" }}</li> {{ end }}
  {{ if .Get "c" }}<li>C.&nbsp;&nbsp;&nbsp;&nbsp;{{ .Get "c" }}</li> {{ end }}
  {{ if .Get "d" }}<li>D.&nbsp;&nbsp;&nbsp;&nbsp;{{ .Get "d" }}</li> {{ end }}
  {{ if .Get "e" }}<li>E.&nbsp;&nbsp;&nbsp;&nbsp;{{ .Get "e" }}</li> {{ end }}
  {{ if .Get "f" }}<li>F.&nbsp;&nbsp;&nbsp;&nbsp;{{ .Get "f" }}</li> {{ end }}
</ul>
